@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Books++ Sales Management Portal</h3>
</div>

<div class="row wrapper">
    <div class="imgWrapper"><img src="~/images/home_page.png" class="homepageImage" alt="Books++ Logo" /></div>
    <div class="textContainer">
        <h2>
            Welcome to Books++
        </h2>
        <h4> "We are your trusted wholesaler for IT education literature.""</h4>
        <p class="bold">This web portal will allow you to do the following:</p>

        <p>Add, Update, or Delete</p>
        <ul class="bold">
            <li><a href="~/Customers/All/">Customers</a></li>
            <li><a href="~/Products/All/">Products</a></li>
            <li><a href="~/States/All/">States</a></li>
        </ul>
        <p>
            We are also pleased to release our new Invoicing system, which will allow
            you to create, view, and delete invoices. It even handles all the math!
        </p>
        <ul class="bold">
            <li><a href="~/Invoices/All/">Invoices</a></li>
        </ul>
    </div>
</div>