@model List<Project_3r.Models.Product>
@{
    ViewBag.Title = "All Products";
}

<div class="pageTop">
    <h2>All Products</h2>
    <a href="/Products/Upsert">Add New Product</a>
</div>
<div class="row searchArea">
    <div class="col-md-4 searchBoxArea">
        <input id="txtSearch" type="text" class="form-control" />
    </div>
    <div class="col-md-8 searchBtnArea">
        <input type="button" id="btnSearch" class="btn btn-info" value="Search" onclick="CurrentPage.Search();">
        <div class="searchMsg small">
            Search ProductCode or Description, or enter a number to filter by minimum Price/Quantity.
        </div>
    </div>
</div>

<table id="tblProducts" class="table table-hover">
    <thead>
        <tr>
            <th onclick="CurrentPage.Sort(0)">ProductCode</th>
            <th onclick="CurrentPage.Sort(1)">Product Description</th>
            <th onclick="CurrentPage.Sort(2)">Unit Price</th>
            <th onclick="CurrentPage.Sort(3)">Quantity on Hand</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductCode</td>
                <td>@product.Description</td>
                <td>@product.UnitPrice.ToString("0.00")</td>
                <td>@product.OnHandQuantity</td>
                <td>
                    <a href="/Products/Upsert/@product.ProductCode">Edit</a>
                    <a href="#" onclick="api.DELETE('/Products/Delete/@product.ProductCode')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    window.onload = function () {
        CurrentPage.baseUrl = '/Products/All/';
    }
</script>